* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: white;
    margin: 0;
    padding: 0px;
}

.container {
    text-decoration-color: black;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    margin: 0%;
}

.navbar-brand {
    font-size: 32px;
    padding: 20px;
}

.navbar-nav {
    font-size: 20px;
}

.thick-line {
    background-color: teal;
    color: teal;
    height: 40px;
}

.skinny-line {
    background-color: yellow;
    color: yellow;
}

.wrapper {
    padding: 20px;
    line-height: 28px;
}

#Valerie-image {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.slim-line {
    background-color: tomato;
    color: tomato;
}

.fat-line {
    background-color: teal;
    color: teal;
    height: 40px;
}